@model IEnumerable<ACBarberShop.Application.DTOs.ServicioDTO>

@{
    ViewData["Title"] = "IndexAdmin";
}

<h1>IndexAdmin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSevicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaEnfoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSevicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaEnfoque)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSevicio }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdSevicio }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdSevicio })
            </td>
        </tr>
}
    </tbody>
</table>
